@charset 'utf-8';

$main-color: #d1d1ff;
$sub-color: #7e7eff;
$font-color: #303030;
$haritha: #9F9F9F;
$suzuna: #A111BF;
$meruru: #E79FD4;
$suisei: #3BC313;

.about-contents {
    background-image: url(../images/banner_wide.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    padding: 16px;
    margin-bottom: 16px;
}

.contents-title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
    color: $sub-color;
}

.contents-text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.link-contents {
    background-image: url(../images/banner_wide.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    background-position: right;
    padding: 16px;
}

.link-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.link-items {
    border: 1px solid #909090;
    width: calc(25% - 16px);
    text-align: center;
    line-height: 3;
    cursor: pointer;
    transition: .3;
    border-radius: 4px;

    &:hover {
        opacity: .8;
        transition: .3s;
        background-color: $sub-color;
        color: white;
        text-decoration: underline;
    }
}

.logo-icon {
    max-width: 80px;
    max-height: 50px;
    object-fit: cover;
}

@media (min-width: 1200px) {

    .about-contents {
        width: 55vw;
    }
}