@charset 'utf-8';

$main-color: #d1d1ff;
$sub-color: #7e7eff;
$font-color: #303030;
$haritha: #9F9F9F;
$suzuna: #A111BF;
$meruru: #E79FD4;
$suisei: #3BC313;
$twitter: #1da1f2;

.about-contents {
    background-image: url(../images/banner_wide.jpg);
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    padding: 16px;
    margin-bottom: 16px;
}

.contents-title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 1rem;
    color: $sub-color;
}

.contents-text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.twitter-link-area {
    border: 2px solid #909090;
    border-radius: 20px;
    max-width: 80%;
    margin: 0 auto;
}

.sister-name {
    text-align: center;
}

.twitter-link-img {
    object-fit: cover;
    border-radius: 50%;

    &#haritha {
        border: 1px solid $haritha;
    }

    &#suzuna {
        border: 1px solid $suzuna;
    }

    &#meruru {
        border: 1px solid $meruru;
    }

    &#suisei {
        border: 1px solid $suisei;
    }
}

.icon-box {
    position: relative;
}

.twitter-img {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.icon-title {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate( -50%, 75%);
    font-weight: 600;
    color: white;
}

@media (min-width: 1200px) {

    .about-contents {
        width: 55vw;
    }

    .twitter-link-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &::after {
            content: "";
            width: 30px;
            height: 30px;
            background-color: white;
            position: absolute;
            bottom: -17px;
            left: 50%;
            transform: rotate(45deg);
            border-bottom: 2px solid #909090;
            border-right: 2px solid #909090;
        }
    }

    .twitter-link-items {
        max-width: calc( 100% / 4 - 32px);
        margin: 16px auto;
    }
}