.main-visual {
  pointer-events: none;
  width: 100vw;
  height: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.sisters-title {
  font-family: source-han-sans-japanese, sans-serif;
  text-align: center;
  font-size: 2.2rem;
  margin: 8px 0 4px;
}

.profile-list {
  padding: 0 16px;
}

.profile-item {
  border: 0.5px solid #9f9f9f;
  padding: 6px;
}

.profile-item.suzuna {
  border-color: #A111BF;
}

.profile-item.meruru {
  border-color: #E79FD4;
}

.profile-item:first-child {
  border-bottom: none;
}

.names {
  text-align: center;
}

.sns-link-list {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sns-link-list .profile-item {
  border: 0.5px solid #9f9f9f;
  border-right: none;
  width: 50%;
  text-align: center;
}

.sns-link-list .profile-item:last-child {
  border-right: 0.5px solid #9f9f9f;
}

.sns-link-list .profile-item.suzuna {
  border-color: #A111BF;
}

.sns-link-list .profile-item.meruru {
  border-color: #E79FD4;
}

.sns-link-btn {
  font-size: 3.6rem;
  cursor: pointer;
}

.sns-link-btn .twitter {
  color: #1da1f2;
}

.sns-link-btn .TwitCasting {
  width: 120px;
  vertical-align: middle;
}

.sns-link-btn .spoon {
  width: 60px;
  vertical-align: middle;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
}

.description:last-child {
  margin-bottom: 0;
}

.profile-table {
  margin: 16px 16px 0;
  width: 100%;
  border: 0.5px solid #9f9f9f;
  max-width: calc(100vw - 32px);
}

.profile-table th {
  width: 50%;
  border-right: 0.5px solid #9f9f9f;
  border-bottom: 0.5px solid #9f9f9f;
  text-align: center;
  padding: 4px 6px;
}

.profile-table th.suzuna {
  border-color: #A111BF;
}

.profile-table th.meruru {
  border-color: #E79FD4;
}

.profile-table td {
  width: 50%;
  border-right: 0.5px solid #9f9f9f;
  border-bottom: 0.5px solid #9f9f9f;
  text-align: center;
}

.profile-table td.suzuna {
  border-color: #A111BF;
}

.profile-table td.meruru {
  border-color: #E79FD4;
}

.profile-table.suzuna {
  border-color: #A111BF;
}

.profile-table.meruru {
  border-color: #E79FD4;
}

.last {
  border-bottom: 0.5px solid #9f9f9f;
}

.movie {
  width: calc(100% - 32px);
  height: calc(100vw * 0.75);
  max-height: 450px;
  margin: 16px auto;
}

.unique-section#haritha {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(217, 175, 217, 0.7)), to(rgba(151, 217, 225, 0.7))), url(../images/AdobeStock_780934-min.jpeg);
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url(../images/AdobeStock_780934-min.jpeg);
  background-size: cover;
  margin-bottom: 16px;
  max-width: calc(100% - 32px);
  margin: 0 auto 16px;
}

.unique-section#haritha .sisters-title {
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 0;
  margin: 0;
}

.unique-section#haritha .chronology-list {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.unique-section#haritha .chronology-list .chronology-item {
  padding: 8px 16px;
  border-bottom: 1px solid #fff;
}

.unique-section#haritha .chronology-list .chronology-item:last-child {
  border-bottom: none;
}

.unique-section#suzuna {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(217, 175, 217, 0.7)), to(rgba(151, 217, 225, 0.7))), url(../images/AdobeStock_135113559-min.jpeg);
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url(../images/AdobeStock_135113559-min.jpeg);
  background-size: cover;
  margin-bottom: 16px;
  max-width: calc(100% - 32px);
  margin: 0 auto 16px;
}

.unique-section#suzuna .sisters-title {
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 0;
  margin: 0;
}

.unique-section#suzuna .quotations-list {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.unique-section#suzuna .quotations-list .quotations-item {
  padding: 8px 16px;
  border-bottom: 1px solid #fff;
}

.unique-section#suzuna .quotations-list .quotations-item:last-child {
  border-bottom: none;
}

.unique-section#meruru {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(217, 175, 217, 0.7)), to(rgba(151, 217, 225, 0.7))), url(../images/AdobeStock_222049450-min.jpeg);
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url(../images/AdobeStock_222049450-min.jpeg);
  background-size: cover;
  margin-bottom: 16px;
  max-width: calc(100% - 32px);
  margin: 0 auto 16px;
}

.unique-section#meruru .sisters-title {
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 0;
  margin: 0;
}

.unique-section#meruru .quotations-list {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.unique-section#meruru .quotations-list .quotations-item {
  padding: 8px 16px;
  border-bottom: 1px solid #fff;
}

.unique-section#meruru .quotations-list .quotations-item:last-child {
  border-bottom: none;
}

.unique-section#suisei {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(217, 175, 217, 0.7)), to(rgba(151, 217, 225, 0.7))), url(../images/AdobeStock_50547557-min.jpeg);
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%), url(../images/AdobeStock_50547557-min.jpeg);
  background-size: cover;
  margin-bottom: 16px;
  max-width: calc(100% - 32px);
  margin: 0 auto 16px;
}

.unique-section#suisei .sisters-title {
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 0;
  margin: 0;
}

.unique-section#suisei .quotations-list {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.unique-section#suisei .quotations-list .quotations-item {
  padding: 8px 16px;
  border-bottom: 1px solid #fff;
}

.unique-section#suisei .quotations-list .quotations-item:last-child {
  border-bottom: none;
}

.side-visual {
  display: none;
}

@media (min-width: 600px) {
  .sisters-title {
    font-size: 2.8rem;
  }
  .names {
    font-size: 2.2rem;
  }
  .description {
    font-size: 1.6rem;
  }
  .profile-item {
    padding: 12px;
  }
  .profile-table th, .profile-table td {
    padding: 8px;
    font-size: 1.8rem;
  }
  .unique-section#haritha .chronology-list .chronorogy-item {
    padding: 16px 48px;
  }
}

@media (min-width: 1200px) {
  .main-visual {
    width: 100%;
    height: 60vh;
  }
  .profile-table {
    max-width: calc(100% - 32px);
  }
  .side-visual {
    display: block;
    width: 25vw;
  }
}
/*# sourceMappingURL=sisters.css.map */