@charset 'utf-8';

.main-visual {
    pointer-events: none;
}

.sisters-title {
    font-family: source-han-sans-japanese,
    sans-serif;
    text-align: center;
    font-size: 2.2rem;
    margin: 8px 0 4px;
}

.profile-list {
    padding: 0 16px;
}

.profile-item {
    border: 0.5px solid #9f9f9f;
    padding: 6px;

    &:first-child {
        border-bottom: none;
    }
}

.names {
    text-align: center;
}

.sns-link-list {
    margin-top: 16px;
    display: flex;

    .profile-item {
        border: 0.5px solid #9f9f9f;
        border-right: none;
        width: 50%;
        text-align: center;

        &:last-child {
            border-right: 0.5px solid #9f9f9f;
        }
    }
}

.sns-link-btn {
    font-size: 3.6rem;
    cursor: pointer;

    .twitter {
        color: #1da1f2;
    }

    .TwitCasting {
        width: 120px;
        vertical-align: middle;
    }
}

.description {
    font-size: 1.3rem;
    margin-bottom: 1.3rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.profile-table {
    margin: 16px 16px 0;
    width: 100%;
    border: 0.5px solid #9f9f9f;
    max-width: calc(100vw - 32px);

    th {
        width: 50%;
        border-right: 0.5px solid #9f9f9f;
        border-bottom: 0.5px solid #9f9f9f;
        text-align: center;
        padding: 4px 6px;
    }

    td {
        width: 50%;
        border-right: 0.5px solid #9f9f9f;
        border-bottom: 0.5px solid #9f9f9f;
        text-align: center;
    }
}

.last {
    border-bottom: 0.5px solid #9f9f9f;
}

.movie {
    padding: 16px;
    width: 100%;
    height: calc(100vw * 0.75);
    margin: 0 auto;
}

.unique-section#haritha {
    background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),
    url(../images/AdobeStock_780934-min.jpeg);
    background-size: cover;
    margin-bottom: 16px;

    .sisters-title {
        font-weight: 200;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 8px 0;
        margin: 0;
    }

    .chronology-list {
        padding: 8px;
        background-color: rgba(255, 255, 255, 0.3);

        .chronorogy-item {
            padding: 8px 16px;
            border-bottom: 1px solid #fff;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

@media (min-width: 600px) {
    .sisters-title {
        font-size: 2.8rem;
    }

    .names {
        font-size: 2.2rem;
    }

    .description {
        font-size: 1.6rem;
    }

    .profile-item {
        padding: 12px;
    }

    .profile-table th, .profile-table td {
        padding: 8px;
        font-size: 1.8rem;
    }

    .movie {
        width: 400px;
        height: 300px;
    }

    .unique-section#haritha {

        .chronology-list {

            .chronology-item {
                padding: 8px 32px;
            }
        }
    }
}

@media (min-width: 1200px) {

    .movie {
        width: 600px;
        height: 450px;
    }
}