html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #303030;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.container {
  width: 100%;
}

.section-title {
  font-size: 3.6rem;
  font-family: yusei-magic, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #7e7eff;
  margin: 8px 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-logo {
  max-height: 48px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0 auto;
}

.header-logo-image {
  width: 144px;
  height: 48px;
}

.header-logo:hover {
  opacity: .8;
}

.side-nav {
  display: none;
}

.contents-area {
  margin-top: 48px;
}

.top-slider {
  width: calc(100% - 32px);
  height: 100%;
  max-height: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0 auto;
}

.sisters-section {
  padding: 16px 8px;
}

.sisters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sisters-list-item {
  width: 100%;
  max-width: 50%;
  margin-bottom: 16px;
}

.sisters-img {
  display: block;
  margin: 0 auto;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #fff;
  cursor: pointer;
}

.sisters-img:hover {
  opacity: .8;
  -webkit-transition: .3s;
  transition: .3s;
}

#haritha .sisters-img {
  border-color: #9F9F9F;
}

#suzuna .sisters-img {
  border-color: #A111BF;
}

#meruru .sisters-img {
  border-color: #E79FD4;
}

#suisei .sisters-img {
  border-color: #3BC313;
}

.sisters-name {
  text-align: center;
  font-weight: 200;
}

.sisters-list-pc {
  display: none;
}

.news-section {
  padding: 16px;
  background-color: #f0f0f0;
}

.news-list-item {
  padding: 8px 42px;
  opacity: .8;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  margin-bottom: 8px;
  cursor: pointer;
}

.news-list-item:hover {
  opacity: .6;
  -webkit-transition: .3s;
  transition: .3s;
}

.post-date,
.post-title {
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.65;
}

.readmore-btn {
  display: block;
  margin: 0 auto;
  background-color: #d1d1ff;
  padding: 8px 27px;
  border-radius: 27px;
  font-size: 1.2rem;
  cursor: pointer;
}

.readmore-btn:hover {
  text-decoration: underline;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

.works-section {
  padding: 16px;
}

.works-section img {
  margin: 8px 0;
  cursor: pointer;
}

.works-section img:hover {
  opacity: .8;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer {
  height: 40px;
  text-align: center;
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(188, 188, 255, 0.6)), to(rgba(255, 204, 229, 0.6)));
  background: linear-gradient(to left top, rgba(188, 188, 255, 0.6), rgba(255, 204, 229, 0.6));
  line-height: 40px;
  margin-bottom: 49px;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
}

.section-title#bottom {
  font-size: 1.3rem;
  margin: 0;
  background: #e0e0e0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  width: 100%;
  max-width: 20%;
  height: 48px;
  border: 1px solid white;
  background-color: #d1d1ff;
}

.nav-item:hover {
  opacity: .6;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: underline;
}

.nav-title {
  line-height: 48px;
  text-align: center;
}

.bottom-global-menu {
  position: fixed;
  z-index: 9;
  bottom: -120%;
  left: 0;
  width: 100%;
  height: calc(100vh - 248px);
  background: #d1d1ff;
  -webkit-transition: .8s;
  transition: .8s;
}

.active {
  bottom: 48px;
}

.global-menu-list {
  margin-top: 2rem;
}

.global-menu-item {
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  cursor: pointer;
  font-family: Yusei-magic, sans-serif;
}

.global-menu-item:hover {
  background-color: #c1c1ff;
  opacity: .6;
  -webkit-transition: .3s;
  transition: .3s;
}

.global-logo {
  width: 32%;
  display: block;
  margin: 16px auto 0;
}

@media (min-width: 600px) {
  .top-slider {
    width: 75%;
    max-height: 75vw;
    margin: 0 auto;
  }
  .sisters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sisters-list-item {
    width: 100%;
    max-width: 25%;
    margin-bottom: 16px;
  }
  .sisters-img {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
  }
}

@media (min-width: 1200px) {
  .pc-view-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contents-area {
    margin: 0;
    margin-left: 15vw;
  }
  .header {
    position: relative;
    display: none;
  }
  .pc-header-logo {
    width: 144px;
    height: 48px;
    margin: 8px auto 0;
    cursor: pointer;
  }
  .pc-header-logo:hover {
    opacity: .8;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .section-title {
    font-size: 3.8rem;
    margin: 0;
  }
  .side-nav {
    display: block;
    position: fixed;
    height: 100vh;
    z-index: 10;
    width: 100%;
    max-width: 15vw;
    text-align: center;
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(188, 188, 255, 0.6)), to(rgba(255, 204, 229, 0.6)));
    background: linear-gradient(to left top, rgba(188, 188, 255, 0.6), rgba(255, 204, 229, 0.6));
  }
  .side-nav-item {
    font-family: yusei-magic, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .side-nav-item:hover {
    opacity: .7;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-column {
    max-width: 55vw;
  }
  .pickup-section {
    width: 100%;
    margin: 0 auto;
  }
  .top-slider {
    width: 40%;
  }
  .sisters-list {
    display: none;
  }
  .sisters-list-pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 16px calc(100% - 960px);
  }
  .sisters-list-pc-item {
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .sisters-list-pc-item:last-child {
    margin-right: 0;
  }
  .sisters-list-pc-item:hover {
    opacity: .7;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .sisters-name-pc {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 8px;
    font-weight: 200;
  }
  .sisters-image-pc {
    border-radius: 10px;
    max-width: 168px;
    height: 70%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #haritha-pc .sisters-image-pc {
    border: 2px solid #9F9F9F;
  }
  #suzuna-pc .sisters-image-pc {
    border: 2px solid #A111BF;
  }
  #meruru-pc .sisters-image-pc {
    border: 2px solid #E79FD4;
  }
  #suisei-pc .sisters-image-pc {
    border: 2px solid #3BC313;
  }
  .side-column {
    background: #f0f0f0;
    width: 25vw;
  }
  .news-section {
    padding-top: 0;
  }
  .news-list-item {
    text-align: center;
  }
  .footer {
    margin: 0;
    height: 40px;
    line-height: 40px;
  }
  .bottom-navigation {
    display: none;
  }
  .sisters-section {
    padding: 0 16px 0;
  }
}

.slider {
  width: 100%;
  max-width: 1064px;
  max-height: 50vh;
  margin: 16px auto;
}

.slider-item {
  margin: 0 12px;
}

.slick-dotted.slick-slider {
  margin-bottom: 16px;
}

.slider img {
  height: 50vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
  color: #dc143c;
}

.slick-dots li button:before {
  color: red;
}

.slick-prev {
  left: 0px;
  z-index: 10;
}

.slick-next {
  right: 0px;
  z-index: 10;
}

.slick-dots {
  bottom: 0px;
}
/*# sourceMappingURL=style.css.map */